In [1]:
pwd

'/Users/mailysjaffret/Desktop/IRONHACK/vanguard_ab_test_week5_project/Notebooks/Ma√Ølys'

In [12]:
import pandas as pd

df_client_info = pd.read_csv('../../data/clean/df_client_info.csv')
df_client_info.head()

,Unnamed: 0,client_id,tenure_year,tenure_month,age,gender,number_of_accounts,balance,calls_6_mnth,logons_6_mnth,Variation
0,0,836976,6.0,73.0,60.5,M,2.0,45105.30,6.0,9.0,Test
1,1,2304905,7.0,94.0,58.0,M,2.0,110860.30,6.0,9.0,Control
2,2,1439522,5.0,64.0,32.0,M,2.0,52467.79,6.0,9.0,Test
3,3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test
4,4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control

In [39]:
df_client_info.shape

(70609, 11)

In [68]:
columns_to_analyze = ['age', 'tenure_year', 'tenure_month', 'number_of_accounts', 'calls_6_mnth', 'logons_6_mnth']

for column in columns_to_analyze:
    mean_value = df_client_info[column].mean()
    median_value = df_client_info[column].median()
    std_value = df_client_info[column].std()
    min_value = df_client_info[column].min()
    max_value = df_client_info[column].max()
    range_value = max_value - min_value
    first_quartile = df_client_info[column].quantile(0.25)
    third_quartile = df_client_info[column].quantile(0.75)

    print(f"Statistics for column '{column}':")
    print(f"  Mean: {mean_value:.2f}")
    print(f"  Median: {median_value:.2f}")
    print(f"  Standard Deviation: {std_value:.2f}")
    print(f"  Minimum: {min_value}")
    print(f"  Maximum: {max_value}")
    print(f"  Range: {range_value}")
    print(f"  1st Quartile (25th percentile): {first_quartile}")
    print(f"  3rd Quartile (75th percentile): {third_quartile}")
    print("-" * 40)

Statistics for column 'age':
  Mean: 46.44
  Median: 47.00
  Standard Deviation: 15.59
  Minimum: 13.5
  Maximum: 96.0
  Range: 82.5
  1st Quartile (25th percentile): 32.5
  3rd Quartile (75th percentile): 59.0
----------------------------------------
Statistics for column 'tenure_year':
  Mean: 12.05
  Median: 11.00
  Standard Deviation: 6.87
  Minimum: 2.0
  Maximum: 62.0
  Range: 60.0
  1st Quartile (25th percentile): 6.0
  3rd Quartile (75th percentile): 16.0
----------------------------------------
Statistics for column 'tenure_month':
  Mean: 150.66
  Median: 136.00
  Standard Deviation: 82.09
  Minimum: 33.0
  Maximum: 749.0
  Range: 716.0
  1st Quartile (25th percentile): 82.0
  3rd Quartile (75th percentile): 192.0
----------------------------------------
Statistics for column 'number_of_accounts':
  Mean: 2.26
  Median: 2.00
  Standard Deviation: 0.53
  Minimum: 1.0
  Maximum: 8.0
  Range: 7.0
  1st Quartile (25th percentile): 2.0
  3rd Quartile (75th percentile): 2.0
----------------------------------------
Statistics for column 'calls_6_mnth':
  Mean: 3.38
  Median: 3.00
  Standard Deviation: 2.24
  Minimum: 0.0
  Maximum: 7.0
  Range: 7.0
  1st Quartile (25th percentile): 1.0
  3rd Quartile (75th percentile): 6.0
----------------------------------------
Statistics for column 'logons_6_mnth':
  Mean: 5.57
  Median: 5.00
  Standard Deviation: 2.35
  Minimum: 1.0
  Maximum: 9.0
  Range: 8.0
  1st Quartile (25th percentile): 4.0
  3rd Quartile (75th percentile): 7.0
----------------------------------------

In [51]:
df_client_info['gender'].value_counts()

gender
M    35793
F    34816
Name: count, dtype: int64

In [70]:
gender_counts = df_client_info['gender'].value_counts()
gender_proportions = df_client_info['gender'].value_counts(normalize=True)
print(f"Frequency gender :\n{gender_counts}")
print(f"Proportion gender :\n{gender_proportions}")

Frequency gender :
gender
M    35793
F    34816
Name: count, dtype: int64
Proportion gender :
gender
M    0.506918
F    0.493082
Name: proportion, dtype: float64