In [82]:
#Importing library and  df_final_ demo csv file
import pandas as pd

df1 = pd.read_csv('https://raw.githubusercontent.com/houleye45/vanguard_ab_test_week5_project/main/data/raw/df_final_demo.txt')
df1.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [83]:
#Checking shape
df1.shape

(70609, 9)

In [84]:
#Renaming the columns 
df1.rename(columns= {'clnt_tenure_yr': 'tenure_year', 'clnt_tenure_mnth': 'tenure_month', 'clnt_age': 'age',
                     'gendr': 'gender', 'num_accts': 'number_of_accounts', 'bal': 'balance'}, inplace=True)

In [85]:
df1.head()

,client_id,tenure_year,tenure_month,age,gender,number_of_accounts,balance,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [86]:
#Checking gender values
df1['gender'].unique

<bound method Series.unique of 0        U
1        U
2        U
3        M
4        F
        ..
70604    U
70605    M
70606    F
70607    M
70608    F
Name: gender, Length: 70609, dtype: object>

In [87]:
df1.gender.unique()

array(['U', 'M', 'F', nan, 'X'], dtype=object)

In [89]:
df1.dtypes

client_id               int64
tenure_year           float64
tenure_month          float64
age                   float64
gender                 object
number_of_accounts    float64
balance               float64
calls_6_mnth          float64
logons_6_mnth         float64
dtype: object

In [90]:
df1.isnull().sum()

client_id              0
tenure_year           14
tenure_month          14
age                   15
gender                14
number_of_accounts    14
balance               14
calls_6_mnth          14
logons_6_mnth         14
dtype: int64

In [91]:
df2 = pd.read_csv('https://raw.githubusercontent.com/houleye45/vanguard_ab_test_week5_project/main/data/raw/df_final_experiment_clients.txt')
df2.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [92]:
df2.dtypes

client_id     int64
Variation    object
dtype: object

In [93]:
df2.shape

(70609, 2)

In [94]:
df2.isnull().sum()

client_id        0
Variation    20109
dtype: int64

In [95]:
df2 = df2.dropna(axis=0)
df2.shape

(50500, 2)

In [96]:
df3 = pd.read_csv('https://raw.githubusercontent.com/houleye45/vanguard_ab_test_week5_project/main/data/raw/df_final_web_data_pt_1.txt')
df3.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [97]:
df3.shape

(343141, 5)

In [98]:
df3.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [99]:
df3.duplicated().sum()

2095

In [100]:
df3 = df3.drop_duplicates()
df3.shape

(341046, 5)

In [101]:
df3.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [102]:
df3['date_time'] = pd.to_datetime(df3['date_time'])
df3.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [103]:
df4 = pd.read_csv('https://raw.githubusercontent.com/houleye45/vanguard_ab_test_week5_project/main/data/raw/df_final_web_data_pt_2.txt')
df4.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [104]:
df4.shape

(412264, 5)

In [105]:
df4.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [106]:
df4.duplicated().sum()

8669

In [107]:
df4 = df4.drop_duplicates()

In [108]:
df4.shape

(403595, 5)

In [109]:
df4.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [110]:
df4['date_time'] = pd.to_datetime(df4['date_time'])

In [111]:
df4.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [112]:
df4.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [113]:
df5 = pd.concat([df3, df4], axis=0)

In [114]:
df5.shape

(744641, 5)

In [115]:
df5.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [116]:
df5.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [117]:
df5['process_step'].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

### Filtering datetime column to keep only the last "start" time and the last confirmation step.

In [118]:
df5_sorted = df5.sort_values(by=['client_id', 'date_time'], ascending=[True, False])

In [119]:
# Filter lines to retain only the last occurrence of start for each customer
start_last = df5_sorted[df5_sorted['process_step'] == 'start'].groupby('client_id').first()

step1_last = df5_sorted[df5_sorted['process_step'] == 'step_1'].groupby('client_id').first()

step2_last = df5_sorted[df5_sorted['process_step'] == 'step_2'].groupby('client_id').first()

step3_last = df5_sorted[df5_sorted['process_step'] == 'step_3'].groupby('client_id').first()

# Filter lines to retain only the last occurrence of confirm for each customer
confirm_last = df5_sorted[df5_sorted['process_step'] == 'confirm'].groupby('client_id').first()

digital_footprints = start_last.merge(confirm_last, on='client_id', suffixes=('_start', '_confirm')).merge(step1_last, on='client_id',suffixes=('confirm','_step_1')).merge(step2_last, on='client_id',suffixes=('_step_1','_step_2')).merge(step3_last, on='client_id',suffixes=('_step_2','_step_3'))

digital_footprints.head()

,visitor_id_start,visit_id_start,process_step_start,date_time_start,visitor_id_confirm,visit_id_confirm,process_step_confirm,date_time_confirm,visitor_id_step_1,visit_id_step_1,process_step_step_1,date_time_step_1,visitor_id_step_2,visit_id_step_2,process_step_step_2,date_time_step_2,visitor_id,visit_id,process_step,date_time
client_id,,,,,,,,,,,,,,,,,,,,
169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
546,475037402_89828530214,731811517_9330176838_94847,start,2017-06-17 10:03:29,475037402_89828530214,731811517_9330176838_94847,confirm,2017-06-17 10:05:42,475037402_89828530214,731811517_9330176838_94847,step_1,2017-06-17 10:03:39,475037402_89828530214,731811517_9330176838_94847,step_2,2017-06-17 10:03:52,475037402_89828530214,731811517_9330176838_94847,step_3,2017-06-17 10:05:19
555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14
647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02
722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:56:16,919259913_64837298108,984487154_55831795985_521110,confirm,2017-04-19 15:00:09,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:56:18,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:56:37,919259913_64837298108,984487154_55831795985_521110,step_3,2017-04-19 14:57:27

In [120]:
digital_footprints = digital_footprints.drop(['visitor_id_confirm','visit_id_confirm', 'visitor_id_step_1', 'visit_id_step_1', 'visitor_id_step_2', 'visit_id_step_2', 'visitor_id','visit_id'], axis=1)

In [121]:
digital_footprints = digital_footprints.rename(columns={"process_step": "process_step_3", "date_time": "date_time_step3"})

In [122]:
digital_footprints.head()

,visitor_id_start,visit_id_start,process_step_start,date_time_start,process_step_confirm,date_time_confirm,process_step_step_1,date_time_step_1,process_step_step_2,date_time_step_2,process_step_3,date_time_step3
client_id,,,,,,,,,,,,
169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,confirm,2017-04-12 20:23:09,step_1,2017-04-12 20:19:45,step_2,2017-04-12 20:20:31,step_3,2017-04-12 20:22:05
546,475037402_89828530214,731811517_9330176838_94847,start,2017-06-17 10:03:29,confirm,2017-06-17 10:05:42,step_1,2017-06-17 10:03:39,step_2,2017-06-17 10:03:52,step_3,2017-06-17 10:05:19
555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,confirm,2017-04-15 13:00:34,step_1,2017-04-15 12:58:03,step_2,2017-04-15 12:58:35,step_3,2017-04-15 13:00:14
647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,confirm,2017-04-12 15:47:45,step_1,2017-04-12 15:41:35,step_2,2017-04-12 15:41:53,step_3,2017-04-12 15:45:02
722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:56:16,confirm,2017-04-19 15:00:09,step_1,2017-04-19 14:56:18,step_2,2017-04-19 14:56:37,step_3,2017-04-19 14:57:27

In [124]:
digital_footprints.to_csv('digital_footprints.csv', index=False)